
@media screen and (max-width: 660px){
    html {
        min-height: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin:0px;
        padding:0px;
        background-color: gainsboro;
    }
    #left {
        width: 100%;
        /* background-color: red; */
    }
    #right {
        width: 100%;
        /* background-color: orange; */
    }
    #ava {
        display: none;
    }
}

@media only screen 
and (min-device-width:661px) 
and (max-device-width: 800px)
{
    html {
        min-height: 100%;
        font-family: "Arial";
        /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
        margin:0px;
        padding:0px;
        background-color: gainsboro;
    }
    .left {
        width: 100%;
    }
    .right {
        width: 100%;
    }
    #ava {
        display: none;
    }
}

@media screen and (min-width: 801px) {
    .left {
        position:absolute;
        width: 250px;
        top:0px;
        /* width:20%; */
        min-height: 100%;
        height:100%;
        /* opacity: 0.01; */
        background-color: gray;
        float: left;
        /* background-color: blue; */
    }
    .right {
        width: 70%;
        padding-left:20px;
        padding-top:20px;
        outline:1px solid green;
        top:0px;
        margin-left:260px;
        width:75%;
        height:100%;
    }

    html {
        min-height: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin:0px;
        padding:0px;
        background-color: gainsboro;
    }
    
    div {
        min-height:100px;
        overflow:auto;
    }
    
    h5 {
        padding-left:40px;
    }
    
    .secondary {
        /* width: 20%; */
        /* height: 100%; */
        /* float:left; */
        /* background-color: silver; */
        
    }
    
    .primary {
        width:70%;
        /* height: 100%; */
        /* float:right; */
        /* background-color: gainsboro; */
        /* display:inline; */
        /* margin-bottom:30px; */
        border:1px solid yellow
    }

    .right p {
        max-width: 80%;
    }
    
    .right div {
        padding:0px;
    }
    
    #ava {
        border-radius: 50%;
        width:160px;
        height:160px;
        border: 1px solid black;
        margin:10px;
    }
    
    #main {
        /* min-height: 200px; */
        /* border: 1px solid blue; */
        /* margin-top:30px; */
    }
    
    .history_header {
    
    }
    
    .history_timespan {
    
    }
    
    .history_details {
    
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
        margin:5px 0px;
    }
    
    .history_header {
        font-weight: bold;
    }
    
    .section_header {
        font-weight: bolder;
    }
    
    .left {
        /* position: fixed; */
        /* top:0px;
        left:0px;  */
        
    }
    
    .right {
        /* position: fixed; */
        
        /* background-color: red; */
        /* opacity: 0.01; */
        /* float: right; */
    }
    
    #main h1 {
        font-weight: bold;
    }

    #wrapper {
        background-color: silver;
    }
    
}